Node-RED Dashboard Flows.json
[{"id":"34b0ced.bc93c32","type":"tab","label":"Couch Guardian Dashboard","disabled":false,"info":""},{"id":"74b875ea.3a4e6c","type":"cloudant in","z":"34b0ced.bc93c32","name":"Pet Search","cloudant":"","database":"cgdb","service":"CEN5035Group10-cloudantNoSQLDB","search":"_idx_","design":"viewByPet","index":"petSearch","x":310,"y":180,"wires":[["d188e5f7.b97d98","e60eed8.277cc1"]]},{"id":"d188e5f7.b97d98","type":"debug","z":"34b0ced.bc93c32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":160,"wires":[]},{"id":"2f766f77.f9a29","type":"inject","z":"34b0ced.bc93c32","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["e8df9bde.2d33a8"]]},{"id":"e8df9bde.2d33a8","type":"function","z":"34b0ced.bc93c32","name":"Query Most Recent 10 Events","func":"//msg.payload = {query: \"pet:cat\", sort:\"-timestamp\", limit: 5};\nmsg.payload = {query: \"*:*\", sort:\"-timestamp\", limit: 10};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["74b875ea.3a4e6c"]]},{"id":"e60eed8.277cc1","type":"ui_template","z":"34b0ced.bc93c32","group":"40274753.4b4f58","name":"Couch Guardian Table","order":1,"width":"12","height":"5","format":"<div layout=\"row\" layout-align=\"start center\" align=\"center\">\n  <span flex>Date/Time</span>\n  <span flex>Motion Detected?</span>\n  <span flex>Pet Type</span>\n  <!--<span flex>Machine type</span>-->\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"data in msg.payload\" align=\"center\">\n  <span flex style=\"color: black\">{{data.timeformat}}</span>\n  <span flex style=\"color: red\">{{data.motion}}</span>\n  <span flex style=\"color: green\">{{data.pet}}</span>\n  <!--<span flex style=\"color: black\">{{machine.name}}</span>-->\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":380,"y":240,"wires":[[]]},{"id":"e3cb7240.ec826","type":"ibmiot in","z":"34b0ced.bc93c32","authentication":"apiKey","apiKey":"2316b923.d383f6","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":90,"y":160,"wires":[["e8df9bde.2d33a8","a0fdb9bd.4c5e98","b6f52bf8.6e5058","d188e5f7.b97d98"]]},{"id":"b1e63c36.0d40d","type":"ui_chart","z":"34b0ced.bc93c32","name":"","group":"25bc408c.91cfb","order":1,"width":"12","height":"4","label":"24 Hours Detection Frequency","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":580,"wires":[[]]},{"id":"a0fdb9bd.4c5e98","type":"function","z":"34b0ced.bc93c32","name":"Group Query 30 Days","func":"//variables\nvar groupLv=4;\n//var dayOS=30-1;\n\n//var msPerDay = 1000 * 60 * 60 * 24;\n//var offset= dayOS * msPerDay; //30 days offset\n//var date = new Date(new Date().getTime()-offset);\n//var startdate = [date.getFullYear(), date.getMonth()+1, date.getDate(), 0];\n//msg.payload = {group_level:groupLv, startkey: startdate};\nmsg.payload = {group_level:groupLv};\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":400,"wires":[["398af74c.3d2ff8"]]},{"id":"ba9b48ec.32b198","type":"inject","z":"34b0ced.bc93c32","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["a0fdb9bd.4c5e98","b6f52bf8.6e5058"]]},{"id":"c7568fba.99915","type":"debug","z":"34b0ced.bc93c32","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":500,"wires":[]},{"id":"de296b8e.2e3a48","type":"ui_chart","z":"34b0ced.bc93c32","name":"","group":"25bc408c.91cfb","order":2,"width":"12","height":"4","label":"30 Days Detection Frequency","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":190,"y":580,"wires":[[]]},{"id":"398af74c.3d2ff8","type":"cloudantplus in","z":"34b0ced.bc93c32","name":"Pet Data 30 Days","cloudant":"","database":"cgdb","service":"CEN5035Group10-cloudantNoSQLDB","search":"_view_","design":"viewByPet","index":"allBy30Days","x":150,"y":460,"wires":[["3272cacd.51c3c6"]]},{"id":"3272cacd.51c3c6","type":"function","z":"34b0ced.bc93c32","name":"Pet Bar Chart Data 30 Days","func":"var dayOS=30-1;\nvar petClass =[\"Non-Pet\", \"Cat\", \"Dog\"];\nvar lenPC=petClass.length;\n\nvar hash={};\nfor (i=0;i<lenPC;i++){\n    hash[petClass[i]]=i;\n}\n\nvar msPerDay = 1000 * 60 * 60 * 24;\nvar len=msg.payload.length;\nvar offset= dayOS * msPerDay; //30 days offset\nvar date = new Date(new Date().getTime()-offset);\nvar date2 = date;\n\nvar labels = new Array(dayOS+1);\nvar data = new Array(lenPC);\nfor (i=0;i<lenPC;i++){\n    data[i] = new Array(dayOS+1).fill(0);\n}\nfor (i=0;i<=dayOS;i++){\n    labels[i] = (date2.getMonth()+1).toString() +'-'+ date2.getDate().toString();\n    date2 = new Date(date2.getTime()+msPerDay);\n}\n\nfor (i=0;i<len;i++){\n    arr=msg.payload[i];\n    diff=new Date(arr.key[1],arr.key[2]-1,arr.key[3]).getTime() - new Date(date.getFullYear(),date.getMonth(),date.getDate()).getTime();\n    diff=Math.round(diff/msPerDay);\n    if (diff>=0 && diff<=dayOS){\n       data[hash[arr.key[0]]][diff]=arr.value;\n    }\n}\n\nvar m={};\nm.labels = labels;\nm.series = petClass;\nm.data = data;\n  \nmsg={};\nmsg.payload=[m];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":180,"y":520,"wires":[["de296b8e.2e3a48"]]},{"id":"32858d1f.8cf102","type":"function","z":"34b0ced.bc93c32","name":"Pet Bar Chart Data 24 Hours","func":"var dayOS=24-1; // 24 hours\nvar timeZoneCorrection = -5;\nvar petClass =[\"Non-Pet\", \"Cat\", \"Dog\"];\nvar lenPC=petClass.length;\n\nvar hash={};\nfor (i=0;i<lenPC;i++){\n    hash[petClass[i]]=i;\n}\n\nvar msPerDay = 1000 * 60 * 60;\nvar len=msg.payload.length;\nvar offset= dayOS * msPerDay; //24 hours offset\nvar date = new Date(new Date().getTime()-offset+timeZoneCorrection*msPerDay);\nvar date2 = date;\n\nvar labels = new Array(dayOS+1);\nvar data = new Array(lenPC);\nfor (i=0;i<lenPC;i++){\n    data[i] = new Array(dayOS+1).fill(0);\n}\nfor (i=0;i<=dayOS;i++){\n    labels[i] = date2.getHours().toString();\n    date2 = new Date(date2.getTime()+msPerDay);\n}\n\nfor (i=0;i<len;i++){\n    arr=msg.payload[i];\n    diff=new Date(arr.key[1],arr.key[2]-1,arr.key[3],arr.key[4]).getTime() - new Date(date.getFullYear(),date.getMonth(),date.getDate(),date.getHours()).getTime();\n    diff=Math.round(diff/msPerDay);\n    if (diff>=0 && diff<=dayOS){\n       data[hash[arr.key[0]]][diff]=arr.value;\n    }\n}\n\nvar m={};\nm.labels = labels;\nm.series = petClass;\nm.data = data;\n  \nmsg={};\nmsg.payload=[m];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":460,"y":520,"wires":[["b1e63c36.0d40d","c7568fba.99915"]]},{"id":"b6f52bf8.6e5058","type":"function","z":"34b0ced.bc93c32","name":"Group Query 24 Hours","func":"//variables\nvar groupLv=5;\n//var dayOS=30-1;\n\n//var msPerDay = 1000 * 60 * 60 * 24;\n//var offset= dayOS * msPerDay; //30 days offset\n//var date = new Date(new Date().getTime()-offset);\n//var startdate = [date.getFullYear(), date.getMonth()+1, date.getDate(), 0];\n//msg.payload = {group_level:groupLv, startkey: startdate};\nmsg.payload = {group_level:groupLv};\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":400,"wires":[["f796512.7cd27b"]]},{"id":"f796512.7cd27b","type":"cloudantplus in","z":"34b0ced.bc93c32","name":"Pet Data 24 Hours","cloudant":"","database":"cgdb","service":"CEN5035Group10-cloudantNoSQLDB","search":"_view_","design":"viewByPet","index":"allBy24Hours","x":430,"y":460,"wires":[["32858d1f.8cf102","c7568fba.99915"]]},{"id":"527ad61d.6e5db8","type":"comment","z":"34b0ced.bc93c32","name":"Display 10 most recent detections","info":"","x":170,"y":40,"wires":[]},{"id":"959d6225.0e29a","type":"comment","z":"34b0ced.bc93c32","name":"Display 24 hour and 30 days history","info":"","x":180,"y":300,"wires":[]},{"id":"40274753.4b4f58","type":"ui_group","z":"","name":"10 Most Recent Detections","tab":"6f10bea2.0b5c3","order":3,"disp":true,"width":"12","collapse":false},{"id":"2316b923.d383f6","type":"ibmiot","z":"","name":"Pi 4 IoT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"25bc408c.91cfb","type":"ui_group","z":"","name":"Detection History","tab":"6f10bea2.0b5c3","order":1,"disp":true,"width":"12","collapse":false},{"id":"6f10bea2.0b5c3","type":"ui_tab","z":"","name":"Couch Guardian DashBoard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]